

*{
  margin: 0;
  padding: 0;
}

html,body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: url('/assets/images/login_bg.jpg') no-repeat center;
  background-size: cover;
}

.img_title {
  width: 100%;
  height: 60px;
  background: url('/assets/images/login_title.png') no-repeat center;
}

.middle_box {
  padding: 30px;
  width: 400px;
  height: 300px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.links {
  display: flex;
  justify-content: flex-end;
}

.register_box {
  display: none;
}